<%- include('./partials/header') %>
    <h1>Romana's Creative Corner</h1>
    <img src="/images/CreativeCorner.jpg" alt="picture">
    <p>Please Sign In with your Google account to find out more about the services and offers at Romana's Creative Corner!</p>
  
<%- include('./partials/footer') %>