<%- include('./partials/header') %>
    <h1>Romana's Creative Corner</h1>
    <img src="https://i.imgur.com/O4rLJYu.jpg?2" alt="picture">
    <p>Here you will have a chance to get to know me and the services that I offer at the Creative Corner. At the "About Me" page you will have a chance to know more about me and at the "Services" page you will see the services that I am currently offering. For more information, offers, and services, please Sign In with your Google account.</p>
  
<%- include('./partials/footer') %>