<%- include('./partials/header') %>

<h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">A Place For All Your Artistic Needs</span>
        <span class="site-heading-lower">Romana's Creative Corner</span>
</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/images/CreativeCorner.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Unique Services</span>
                <span class="section-heading-lower">Worth Trying</span>
            </h2>
            <p class="mb-3">We offer quality services with unique and colorful designs to meet your personal preferences. Once you try it, our services will be a blissful addition to your everyday creative needs – we guarantee it!</p>
            <div class="intro-button mx-auto">
                <a class="btn btn-primary btn-xl" href="/contact">Contact Us Today!</a>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Promise</span>
                <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you contact us, we are dedicated to providing you with the best customer experience, a welcoming atmosphere, and above all else, excellent services with highest quality results. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
            </div>
        </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>