<%- include('../partials/header') %>
<h2>List of All Available Services</h2>
<table>
    <thead>
        <tr>
        <th>Service Name</th>
        <th>Learn More</th>
        </tr>
    </thead>
    <tbody>
          <% services.forEach(function(s) { %>
        <tr>
            <td><%= s.service %></td>
            <td><a href="/services/<%= s._id %>">Click Here</a></td>
        </tr>
            <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>





