<%- include('../partials/header') %>
<div>
    <h1>All Available Services</h1>
    <div>
        <div>
            <h2>Facial Tattoo</h2><a href="/services/">Show More Details</a><br>
            <br><img src="https://i.imgur.com/80H6dGV.jpg?1" alt="Tattoo image">
        </div>
        <div>
            <h2>Portrait</h2><a href="/services/">Show More Details</a><br>
            <br><img src="https://i.imgur.com/CXlb1JJ.jpg?1" alt="Portrait of a boy">
        </div>
        <div>
            <h2>Henna</h2><a href="/services/">Show More Details</a><br>
            <br><img src="https://i.imgur.com/id9Dg3E.jpg?1" alt="henna art on a hand">
        </div>
        <div>
            <h2>Event Decoration</h2><a href="/services/">Show More Details</a><br>
            <br><img src="https://i.imgur.com/f3pr5PR.jpg?2" alt="An event decoration picture">
        </div>
    </div>
</div>


<%- include('../partials/footer') %>





