<%- include('../partials/header') %>
<div>
    <h1>All Available Services</h1>
    <div>
        <ul>
            <li>Facial Tattoo</li>
            <li>Portrait</li>
            <li>Henna</li>
            <li>Event Decoration</li>
        </ul>
    </div>
</div>


<%- include('../partials/footer') %>